:root {
--light-color: #f5fdff;
--dark-color: #E7E9EB;
--border-radius: 15px;
--medium-padding: 2rem;
--small-padding: 1rem;
--tiny-padding: .5rem;

background-color: var(--dark-color);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .05rem;

}
.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template: 1fr / 1fr;
    width: 80vw;
    max-width: 100ex;
    justify-items: center;
    gap: var(--medium-padding);
}
ul {
    display: grid;
    gap: 1rem;
    margin-top: var(--medium-padding);
    margin-bottom: var(--medium-padding);
}
li {
    list-style: none;
    /*padding-left: var(--medium-padding);*/
}
.double-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: var(--small-padding);
    padding-bottom: var(--small-padding);
}
.section {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding: var(--medium-padding);
}
p{
    margin-top: var(--tiny-padding);
    margin-bottom: var(--tiny-padding);
}
.title {
    margin-top: var(--medium-padding);
}
.example {
    display: inline-block;
    font-size: .9rem;
    font-style: italic;
    padding: .5rem;
}
.sub {
    padding-left: var(--small-padding);
    font-weight: bold;
}